# Ignore directory except .gitkeep
build/*
dist/*
!dist/.gitkeep
web-ext-profile/*
!web-ext-profile/.gitkeep
web-ext-artifacts/*
!web-ext-artifacts/.gitkeep

# Node modules
node_modules/
package-lock.json

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
