.scrollbar-thin {
  overflow: auto;
  scrollbar-color: gray darkgray;
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0px 0px 0px 2px #ffffff;
          box-shadow: inset 0px 0px 0px 2px #ffffff;
  border-radius: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgb(117, 117, 117);
}