@import "tailwind.css";

.scrollbar-thin {
  overflow: auto;
  scrollbar-color: gray darkgray;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(0 0 0 / 20%);
    -webkit-box-shadow: inset 0 0 0 2px #fff;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(117 117 117);
  }
}